-e git+https://github.com/nens/naw.git@master#egg=naw
Pygments==2.3.1
backcall==0.1.0
cftime==1.0.3.4
decorator==4.4.0
entrypoints==0.3
flake8==3.7.7
h5py==2.9.0
ipdb==0.12
ipython-genutils==0.2.0
ipython==7.4.0
jedi==0.13.3
lz4==2.1.6
mccabe==0.6.1
netCDF4==1.5.0.1
numpy==1.16.2
parso==0.4.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
pycodestyle==2.5.0
pyflakes==2.1.1
redis==3.2.1
scipy==1.2.1
traitlets==4.3.2
turn==0.5
wcwidth==0.1.7
