<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Media viewer</title>
    <meta charset="utf-8">
    <link href="/static/media/media.css" rel="stylesheet">
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <div class="container">
      <div class="main"></div>
      <div class="thumb pos1">pos2</div>
      <div class="thumb pos2">pos2</div>
      <div class="thumb pos3">pos2</div>
      <div class="thumb pos4">pos2</div>
      <div class="thumb pos5">pos2</div>
      <div class="thumb pos6">pos2</div>
      <div class="thumb pos7">pos2</div>
      <div class="form">
        <form>
          <input type="text" placeholder="Description here">
            text
          </input>
        </form>
      </div>
    </div>
    <script src="/static/jquery/jquery-1.10.2.min.js"></script>
    <script src="/static/media/media.js"></script>
    <script type="text/javascript" >
      var index = {{index}};
      var length = {{length}};
    </script>
  </body>
</html>
