{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="sidebar span4">
      <form action="/page{{ item.path }}" method="post">
        <fieldset>
          <label>Omschrijving</label>
          <textarea class="span4"
                    rows="3"
                    type="text" 
                    name="description"
                    placeholder="Type something...">{{ item.meta.description }}</textarea>
          <input type="checkbox" id="checkbox" />
          <button type="submit" value="submit" class="btn">Opslaan</button>
        </fieldset>
      </form>
    </div>
  
    <div class="span8">
      <div class="edit" id="edit1">Something editable</div> 
    {% if item.kind == "video" %}
      <video class="img-polaroid" controls autoplay>
        <source src="/file{{ item.path }}" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    {% elif item.kind == "image" %}
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img class="img-polaroid" 
                 src="/file{{ item.path }}" 
                 alt="{{ item.name }}" 
                 title="{{ item.name }}" />
          </div>
          <div class="item">
            <img class="img-polaroid" 
                 src="/file{{ item.path }}" 
                 alt="{{ item.name }}" 
                 title="{{ item.name }}" />
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    {% elif item.mime == "application/json" %}
      <div id="placeholder" style="width:640px; height:480px"/>
    {% else %}
      <p>Unsupported kind: {{ item.kind }}</p>
    {% endif %}
    </div>
  </row>


</div> <!-- /container -->

{% endblock %}
{% block js %}
<script src="/static/jeditable/jquery.jeditable.min.js"></script>
<script src="/static/hotkeys/js/jquery.hotkeys.js"></script>
<script src="/static/album/album.js"></script>
{% if item.mime == "application/json" %}
  <script type="text/javascript">
    function plot(data){
      $.jqplot("placeholder", [data], {
        cursor: { 
          show: true,
          zoom: true, 
          showTooltip: true
        },
        series:[ 
          {
            showMarker: false
          }
        ]
      });
    }
  var url = "/file{{item.path}}";
  $.getJSON(url, plot);
  </script>
{% endif %}
{% endblock %}
