{% extends "base.html" %}
{% block content %}

<div class="container">
  {% for item in items %}
    <p>
    {% if item.kind == "video" %}
      <i class="icon-film"></i>
      <a href="/page{{ item.path }}">{{ item.name }}</a>
    {% elif item.kind == "image" %}
      <i class="icon-picture"></i>
      <a href="/page{{ item.path }}">{{ item.name }}</a>
    {% elif item.mime == "application/json" %}
      <i class="icon-road"></i>
      <a href="/page{{ item.path }}">{{ item.name }}</a>
    {% elif item.kind == "directory" %}
      <i class="icon-folder-close"></i>
      <a href="/page{{ item.path }}">{{ item.name }}</a>
    {% else %}
      <i class="icon-file"></i>
      {{item.name}}
    {% endif %}
    </p>
  {% endfor %}

  </div> <!-- /container -->

{% endblock %}
